language: java
jdk:
- oraclejdk8
before_install:
- openssl aes-256-cbc -K $encrypted_870198be18f5_key -iv $encrypted_870198be18f5_iv
  -in src/main/resources/application.properties.enc -out src/main/resources/application.properties -d



